@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prim-color: #3498db;
  --sec-color: #2ecc71;
  --bg-color: #f1c40f;
  --txt-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
